@font-face {
  font-family: 'Pemanent Marker';
  src: url('/fonts/PermanentMarker-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/Rajdgani-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/Rajdgani-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SquadOne';
  src: url('/fonts/SquadaOne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
